@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@700&display=swap')
$imgBg: #FFFBF0
$dark: #5d5d5a
$middle: #ffcef3
$soft: #ffcef3
$font: 'Texturina', serif
$female: #fde0fb
$male: #dbeffb
$bgcolor:  #FFDEE9
$bgimage:  linear-gradient(0deg, #a1eafb 0%, #cabbe9 100%)
$shadow: #9e579d


*
    border-radius: 5px 

body
    font-family: $font
    display: flex
    flex-wrap: wrap
    background-color: $dark
    flex-direction: column
    background-color: $bgcolor
    background-image: $bgimage
    height: 100vh


#genderButtons
    align-content: center
    min-height: 150px
    min-width: 150px
    
    button
        height: 70px
        width: 30%
        border: none
        font-size: large
        font-family: $font
        &:hover
                transition-duration: 0.5s
                transform: translate(-4px, -10px)
                -webkit-box-shadow: 15px 17px 45px -10px $shadow
                -moz-box-shadow: 15px 17px 45px -10px $shadow
                box-shadow: 15px 17px 45px -10px $shadow
        &.female
            background-color: $female
        &.male
            background-color: $male

    p
        font-size: x-large
    

.character-pics
    display: flex
    width: 60vw
    align-items: flex-end
    flex-wrap: nowrap
    transition-duration: 1s
    gap: 20px
    margin: 30px
    position: relative
    option
        background-color: $imgBg
        padding-top: 10px
        display: flex
        background-repeat: no-repeat
        background-position-x: center
        background-position-y: bottom
        min-height: 200px
        width: 70%
        background-size: contain
        align-items: flex-start
        justify-content: center
        color: white
        text-shadow: 1px 1px 5px black
        text-transform: uppercase
        &:hover
            transform: scale(1.3,1.2)
            box-shadow: 0px 6px 1px 0px $middle

.hovered, .gender-selected
    transition-duration: 1s
    transform: translate(-10px, -10px)
    -webkit-box-shadow: 15px 17px 45px -10px $shadow
    -moz-box-shadow: 15px 17px 45px -10px $shadow
    box-shadow: 15px 17px 45px -10px $shadow
.female-selected
    transform: translateY(-120%)

.race-selected
    transform: scale(1.3,1.2)
    box-shadow: 0 6px 1px 0px $middle

.removed
    visibility: hidden
    opacity: 0
    transition: visibility 0s 1s, opacity 1s linear

#character-class
    position: absolute
    top: 45%
    opacity: 0
    display: flex
    width: 40vw
    align-items: flex-end
    flex-wrap: nowrap
    transition-duration: 3s
    gap: 20px
    margin: 50px
    justify-content: center
    option
        display: flex
        background-repeat: no-repeat
        min-height: 200px
        width: 100%
        &:hover
            filter: invert(1)
.class-selected
        filter: invert(1)

#input-container
    position: fixed
    right: -20px
    display: flex
    flex-direction: column
    width: 30vw
    input, select
        font-family: $font
        font-size: xx-large
        height: 70px
    ::placeholder
        color: $soft